canvas {
	width: 100%;
	height: 100%;
	position:relative;
    	z-index:20;
}

#myCanvas {
    position:absolute;
    width:100%;
    height:100%;
}

.mynotsoboldtitle { font-weight:normal; }

<style>


video{
    outline: 0px;
    pointer-events: none;
}

.bgimg {
  
  color: white;
  font-family: "Courier New";
  font-size: 25px;
}

.topleft {
  position: absolute;
  top: 0;
  left: 16px;
}

.bottomleft {
  position: absolute;
  bottom: 0;
  left: 16px;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

hr {
  margin: auto;
  width: 40%;
}

.message{
	display: inline-block;
	background: white;
	color: #666666;
	font-family: "Lucida Grande", verdana, sans-serif;
	font-size: 12px;
    	line-height: 32px;
    	border-radius: 10.56px;
    	padding: 0 16px;

}

</style>
